services:
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: postgres:15
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: dashboard
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - /Users/stelios/Desktop/Golang/platform-go-challenge/db/init:/docker-entrypoint-initdb.d:ro

volumes:
  postgres_data: